---
layout: markdown_page
title: "Secret Detection Priorities, 18.0-18.11"
description: "GitLab's goal is to provide Secret Detection as part of the standard development process. Learn more!"
---

- TOC
{:toc}

## Secret Detection

| | |
| --- | --- |
| Stage | [Application Security Testing](/direction/application_security_testing/) |
| Content Last Reviewed | `2025-02-10` |
| Content Last Updated  | `2025-02-10` |

## Overview
Secret Detection is a group in the Application Security Testing stage. To learn more about this group, please take a look at the direction [Secret Detection](https://about.gitlab.com/direction/secure/secret-detection/secret-detection/) page.

## Purpose
This page is for high-level prioritization of the Secret Detection team for 18.0-18.11. It primarily includes feature/product items and is not a comprehensive list of everything that will be worked on such as bugs, implementation issues, documentation, or technical debt. It is not intended as a replacement or alternative for our issue boards. It is meant as an easily consumable single view of the main in-progress and upcoming work items for the Secret Detection group. It also allows mixing Epics and Issues in a single list.  The tables come from the [secret_detection.yml](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/product_priorities/secret_detection.yml) file.
This list is not a guarantee of timing or order of delivery. Rather, use this as a guide to see the top items we are working on and will be in the near future. The list purposefully does not extend out beyond a year to minimize a false sense of priority.

## Priorities

| Priority | Name | Target release |
| -------- | ---- | -------------- | 
<% data.product_priorities.secret_detection.priorities.each.with_index do |priority, index| %>
| <%= index + 1 %> | [<%= priority.name %>](<%= priority.url %>) | `<%= priority.target_release.presence || "TBD" %>`  |
<% end %>
